h1 {
    font-size: 40px;
    font-weight: 700;
    padding-bottom: -100px;
    font-family: 'Raleway SemiBold', arial;
}
h2{
    font-size: 30px;
    font-weight: 700;
    padding-bottom: -100px;
    font-family: 'Raleway SemiBold', arial;  
}

h4{
    font-size: 26px;
    font-weight: 500;
    line-height: 1.4;
    font-family: 'Raleway SemiBold', arial;
}

h3{
    font-size: 20px;
    font-weight: 300;
    font-family: 'Raleway';
    line-height: 1.6;
}

p{
    font-family: 'Raleway'; 
    font-size: 18px;
    font-weight: 100;
    line-height: 1.6;
}
