.topnav {
    overflow: hidden;
    background-color: transparent;
    font-family: 'Raleway SemiBold', arial;
  }
  
  .topnav a {
    float: left;
    color: #0A123C;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 14px;
    margin: 0px 20px;

  }
  
  .topnav a:hover {
    color: #F69679;
  }
  
  .topnav a.active {
    border-top: solid 2px #0A123C;
    color: #F69679;
  }