  * {
    box-sizing: border-box;
  }
  
  /* Create two equal columns that floats next to each other */
  #grid {
    display: grid;
    animation: forwards;
    transition: 2s;
  }
  
  #areaA {
    background-color: #DFEBEB;
    /*background-image: linear-gradient(to right,#DFEBEB, #fff); */
    height: 350px;
    margin-bottom: 20px;
    padding: 20px 20px 20px 20px;
  }


  #areaB {
    background-color: #0A133C;
    height: 350px;
    margin-bottom: 20px;
    padding: 20px 20px 20px 20px;
  }

  #areaC {
    background-color: #fff;
    height: 350px;
    margin-bottom: 20px;
    padding: 20px 20px 20px 20px;
  }

  #areaD {
    background-color: #EACBC0;
    height: 350px;
    margin-bottom: 20px;
    padding: 20px 20px 20px 20px;
  }


  .column {
    float: left;
    width: 50%;
    padding: 20px 0px;
    height: 300px; /* Should be removed. Only for demonstration */
  }

  .threecolumns{
    float: left;
    width: 33.3%;
    padding: 10px 10px;
    height: 620px;
    color: black;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  .full-width{
    width:100%;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #EFD9D5;
    font-family: 'Raleway';
  }

  .full-width-footer{
    width:100%;
    padding-top: 8px;
    padding-bottom: 5px;
    font-family: 'Raleway';
    padding-left: 180px;
  }
