@import url("fonts.css");
@import url("textblockheads.css");
@import url("navigation.css");
@import url("parallax.css");
@import url("rows.css");
*{
  transition: background-color 1s ease;
}

@font-face {
  font-family: myFont;
  src: url(/Raleway-SemiBold.ttf);
}

  .button {
    background-color: #deebeb;
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px 2px;
    cursor: pointer;
    margin-bottom: -50px;
  }

  .button:hover{
    background-color: #EACBC0;
  }

  /* Setting fade transition and default settings */
body {
  color: #000;
  background-color: #fff;
  transition: background-color 1s ease;
}

/* panel styles */
.panel {
  /* min height incase content is higher than window height */
  height: 450px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: sans-serif;
  /*outline: 10px solid hotpink; */
  /* turn above on to see the edge of panels */
}

.panel2 {
  /* min height incase content is higher than window height */
  height: 200px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: sans-serif;
  /*outline: 10px solid hotpink; */
  /* turn above on to see the edge of panels */
}

/* colours */
.color-rose {
  background-color: #EACBC0;
}
.color-white {
  background-color: #fff;
}

.imageclass {
  animation: fadeOut 2s forwards;
  animation-delay: 1s;
}

.footer {
margin-top: 2500px;
height: 300px;
background-color:  #DFEBEB;
}

mark{
  background-color: rgb(248, 184, 165);
  transition: 0s;
  display: inline-block; 
  line-height: 0.6;
}


.skills {
  text-align: left;
  padding-top: 6px;
  padding-left: 10px;
  padding-bottom: 6px;
  color: white;
  font-family: 'Raleway';
  margin-bottom: 10px;
}

.html {width: 90%; background-color:#EACBC0;}
.css {width: 80%; background-color: rgb(248, 184, 165)}
.js {width: 65%; background-color: #f6967a;}
.php {width: 60%; background-color: #B88570;}

.photoshop {width: 80%; background-color:#E1E1E1;}
.sketch {width: 80%; background-color: #E7F0F0}
.figma {width: 90%; background-color: #0A133C;}